section {
  .steps & {
    width: 800px;
  }
}

.main-page {
  h1 {
    text-transform: capitalize;
    background: transparent;
    -webkit-text-fill-color: initial;
    font: 50px/1.2 FuturaICG, sans-serif;
    color: $link-color;
    &:after {
      display: none;
    }
  }
}

.main-slide {
  margin: 70px 0 0;
  background: url('../images/white-shape.png') 0 bottom/100% 200px no-repeat,
  url('../images/hero-blue.png') right bottom/auto 95% no-repeat,
  url('../images/hero-wallpaper.png') 0 bottom/cover no-repeat;
  height: calc(100vh - 50px);
  position: relative;
  section {
    height: 100%;
  }

  .flex-row {
    position: relative;
    top: 30%;
    @include transform(translateY(-30%));
  }

  .info-block {
    text-align: left;
    .btn {
      margin-right: 24px;
    }
  }

  .laptop {
    background: url('../images/laptop.svg') right center no-repeat;
    position: relative;
    right: -50px;
    #laptop-anim,
    #laptop-actions {
      position: absolute;
      width: 468px;
      height: 278px;
      right: 82px;
      top: 15px;
    }

    #laptop-actions {
      width: 464px;
      right: 84px;
      background: rgba(254, 254, 254, 0.5);
      opacity: 0;
      visibility: hidden;
      @include transition(opacity .3s ease-in-out);
      &.shown {
        opacity: 1;
        visibility: visible;
      }
      .play {
        position: absolute;
        width: 46px;
        height: 46px;
        background: $link-color;
        border-radius: 50%;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
        left: 50%;
        top: 50%;
        @include transform(translateX(-50%) translateY(-50%));
        @include transition(all .3s ease-in-out);
        &:hover {
          @include transform(translateX(-50%) translateY(-50%) scale(1.2));
          cursor: pointer;
        }
        i {
          color: #fff;
          margin-left: 10%;
          line-height: 46px;
          font-size: 1.2rem;
        }
      }
    }
  }
}

.scroll-down {
  position: fixed;
  bottom: 42px;
  right: 3%;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  @include transition(box-shadow .2s linear);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  &:hover {
    cursor: pointer;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  }
  i {
    color: $link-color;
    font-size: 1.6rem;
    line-height: 50px;
    @include transform(rotate(0deg));
    @include transition(transform .8s ease-in-out);
  }

  &.rotate {
    i {
      @include transform(rotate(180deg));
    }
  }
}

.no-click {
  pointer-events: none;
}

.steps {
  padding: 0 0 50px;
  .flex-row {
    @include flex-justify-content(space-between);
    margin: 0 0 50px;
  }

  .step-block {
    position: relative;
    &:hover {
      div {
        opacity: 1;
      }

      img {
        opacity: 0;
      }
    }

    img {
      height: 152px;
      width: 152px;
    }

    div {
      position: absolute;
      height: 152px;
      width: 152px;
      opacity: 0;
      top: 0;
      left: 0;
    }

    h3 {
      margin: 10px 0 0;
    }
  }

  h2 {
    margin: 50px 0;
  }

  .checks {
    display: inline-block;
    h3 {
      position: relative;
      padding: 0 0 0 2rem;
      text-align: left;
      line-height: 2;
      &:before {
        content: "";
        position: absolute;
        left: 7px;
        top: 30%;
        width: 1rem;
        height: .4rem;
        border-left: 2px solid $purple-accent;
        border-bottom: 2px solid $purple-accent;
        @include transform(rotate(-45deg) translateY(-30%));
        z-index: 1;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        border: 2px solid $green-accent;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        @include transform(translateY(-50%));
      }
    }
  }
}

.footer-logo {
  align-self: center;
  img {
    height: 80px;
    float: right;
  }
}

.footer-blocks {
  padding: 22px 0;
  a {
    color: $base-color;
    &:hover, &.active {
      color: $link-color;
    }
  }

  .social-links {
    align-self: center;
    height: 55px;
    ul {
      display: inline-block;
    }

    li {
      float: left;
      margin: 0 7px;
      a {
        display: block;
        background: #F2F2F2;
        width: 55px;
        height: 55px;
        text-align: center;
      }
      i {
        color: #BFBFBF;
        font-size: 28px;
        line-height: 55px;
        @include transition(.3s ease-in-out);
      }
    }

    @include hover-color($social-icons, $social-colors);
  }

  .quick-links {
    text-align: left;
    h3 {
      margin-bottom: 5px;
    }

    li {
      float: left;
      width: 50%;
      position: relative;
      padding: 0 0 0 15px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 4px;
        height: 4px;
        border: 3px solid $link-color;
        border-radius: 50%;
        @include transform(translateY(-50%));
      }
    }
  }
}

.solutions-block {
  width: 100%;
  text-align: left;

  .solutions-cont {
    margin: 0 auto;
    width: 900px;
    h3 {
      margin-bottom: 5px;
    }
  }

  .first-block {
    float: left;
    clear: both;
    li {
      position: relative;
      padding: 0 0 0 15px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 7px;
        width: 4px;
        height: 4px;
        border: 3px solid $link-color;
        border-radius: 50%;
      }
      ul {
        margin: 0 0 0 15px;
        li {
          padding: 0 0 0 15px;
          &:before {
            width: 0;
            height: 0;
            top: 8px;
          }
        }
      }
    }
  }

  .second-block {
    margin-top: 10%;
    float: left;
    clear: both;
    li {
      position: relative;
      padding: 0 0 0 15px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 7px;
        width: 3px;
        height: 3px;
        border: 3px solid #FFCC2F;
        @include transform(rotate(-45deg));
      }
      ul {
        margin: 0 0 0 15px;
        li {
          padding: 0 0 0 15px;
          &:before {
            width: 0;
            height: 0;
            top: 8px;
          }
        }
      }
    }
  }

  .third-block {
    float: right;
    clear: both;
    margin-top: 15%;
    li {
      position: relative;
      padding: 0 0 0 15px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 7px;
        width: 4px;
        height: 4px;
        border: 3px solid #FF0031;
      }
    }
  }

  .fourth-block {
    float: right;
    clear: both;
    margin-top: 30%;
    margin-right: 30px;
    li {
      position: relative;
      padding: 0 0 0 15px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 6px;
        width: 0;
        height: 0;
        border-width: 0 5px 9px;
        border-style: solid;
        border-color: transparent transparent $green-accent;
      }

      &:after {
        content: '';
        position: absolute;
        left: 4px;
        top: 11px;
        width: 2px;
        height: 2px;
        background: #fff;
        border-radius: 50%;
      }
    }
  }
}

/**
 * Material Modal CSS
 */
.modal {
  will-change: visibility, opacity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  @include transition(all 0.5s cubic-bezier(0.23, 1, 0.32, 1));
}

.modal--active {
  visibility: visible;
  opacity: 1;
}

.modal--align-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.modal__bg {
  background: rgba(0, 0, 0, .7);
}

.modal__content {
  will-change: transform, opacity;
  position: relative;
  background: #fff;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  opacity: 0;
  @include transition(all 0.25s cubic-bezier(0.23, 1, 0.32, 1));
  width: 330px;
  .btn {
    margin: 10px;
  }

  .modal-inner {
    padding: 2.4rem 2.4rem 1rem;
    h3 {
      margin-bottom: 20px;
    }

    #mc_embed_signup {
      label.mc-response-label {
        font-weight: normal;
        margin: 5px 0 0;
        padding: 0;
        width: 100%;
        text-align: center;
        font-size: 12px;
        display: block;
        &.error {
          color: #FF0031;
        }

        &.valid {
          color: $link-color;
        }
      }

      div.mce_inline_error {
        display: none !important;
      }
    }
  }

  .close-btn {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    &:before, &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #BFBFBF;
      @include transition(background .4s ease-in-out);
    }

    &:before {
      @include transform(rotate(45deg));
    }
    &:after {
      @include transform(rotate(-45deg));
    }

    &:hover {
      cursor: pointer;
      &:before, &:after {
        background: $link-color;
      }
    }
  }
}

.modal__content--active {
  opacity: 1;
}

.modal__trigger {
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include transition(all 0.5s cubic-bezier(0.23, 1, 0.32, 1));
}

.modal__trigger--active {
  z-index: 10;
}

#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $link-color;
  @include transform(none);
  opacity: 1;
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal-open > *:not(.modal) {
  filter: blur(10px);
}

.modal-transition {
  position: relative;
  z-index: 11;
}

.btn.video-show {
  position: relative;
  &:hover {
    padding-right: 45px;
    .fa-play {
      opacity: 1;
      visibility: visible;
      right: 5px;
      @include transform(translateY(-50%) rotate(0deg));
      animation: play 2s infinite ease-in-out;
      -webkit-animation: play 2s infinite ease-in-out;
    }
  }
  .fa-play {
    background: #fff;
    border-radius: 50%;
    color: #01ADFD;
    font-size: 14px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    position: absolute;
    z-index: -1;
    right: 10px;
    top: 50%;
    @include transform(translateY(-50%) rotate(-180deg));
    opacity: 0;
    visibility: hidden;
   @include transition(all 0.4s ease-in-out);
    &:before {
      display: inline-block;
      margin-left: 3px;
    }
  }
}

.video-close {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 17;
  @include transition(transform .4s ease-in-out);
  &:before, &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
  }

  &:before {
    @include transform(rotate(45deg));
  }
  &:after {
    @include transform(rotate(-45deg));
  }

  &:hover {
    @include transform(scale(1.2));
  }
}

.youtube-overlay {
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  @include transition(all 0.4s cubic-bezier(0.4, 0, 0.2, 1));
  width: 100%;
  z-index: 14;
  opacity: 1;
  @include transform(scale(1));
  visibility: visible;
  &.hidden {
    opacity: 0;
    @include transform(scale(1.15));
    visibility: hidden;
  }
}

.youtube-video {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 16;
}

.youtubemodal-mask {
  background: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 15;
}

.default-bg {
  background: url(../images/hero-wallpaper.png) 0 bottom/cover no-repeat;
}

.calculator-block {
  margin: 70px 0 0;
  & > section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  h2 {
    span {
      white-space: nowrap;
    }
  }

  #niche {
    text-transform: capitalize;
  }

  &.calculator-results {
    height: calc(100vh - 70px);
    & > section {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }

    .form-heading {
      font-size: 22px;
    }

    .heading {
      margin-bottom: 40px;
    }
  }

  &.calculator-confirm {
    .blog-sections {
      h3 {
        margin: 40px 0 15px;
        font-size: 24px;
      }

      & > .flex-row {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        margin: 0 -12px;
        & > * {
          padding: 12px;
          text-align: left;
          line-height: 1.3;
          color: $base-color;
          &:hover {
            cursor: pointer;
            .post-content {
              &:after {
                background-color: rgba(78, 75, 247, 0.4);
              }

              i {
                opacity: 1;
                visibility: visible;
              }
            }

            .post-title {
              color: $link-color;
            }
          }
        }
      }

      @for $i from 0 through 3 {
        *[class^="flex-item"]:nth-child(#{$i}) {
          .post-content {
            background: url(../images/calculator/blog-images/#{$i}-post.jpg) center center/cover no-repeat;
          }
        }
      }

      .post-content {
        color: #fff;
        border-radius: 4px;
        padding: 20px;
        height: 224px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        display: -webkit-flex;
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
        align-items: flex-end;
        -webkit-align-items: flex-end;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: transparent;
          display: block;
          border-radius: 4px;
          @include transition(.4s ease-in-out);
        }
        i {
          position: relative;
          z-index: 1;
          font-size: 18px;
          opacity: 0;
          visibility: hidden;
          @include transition(.4s ease-in-out);
        }
      }

      .post-title {
        font-size: 20px;
        overflow: hidden;
        margin: 10px 0;
        display: block;
        @include transition(.4s ease-in-out);
      }

      .post-intro {
        font-size: 16px;
        display: block;
      }
    }
  }

  .info-blocks {
    color: #fff;
    font-size: 14px;
    margin: 40px -12px;
    .flex-item {
      background: $link-color;
      flex: 1;
      -webkit-flex: 1;
      margin: 12px;
      padding: 12px;
      &:nth-last-child(2),
      &:last-child {
        background: $purple-accent;
      }
      .flex-row {
        margin: 0 0 12px;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
      }
    }

    label {
      font-size: 36px;
      line-height: 1;
    }

    span {
      display: block;
    }

    img {
      width: 48px;
      height: 48px;
    }
  }
}

.calculator-form {
  width: 340px;
  margin: 0 auto;
  &.send-report-form {
    margin-top: 30px;
  }
}

.calculator-confirm,
.demo-confirm {
  img {
    height: 152px;
    margin: 0 auto 20px;
  }
}

.demo-confirm {
  margin: 70px 0 0;
  height: calc(100vh - 70px);
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

.blurred {
  filter: blur(5px);
}

#mediumPosts {
  margin: 0 -10px;
}

.blog-post {
  text-align: left;
  line-height: normal;
  flex: 1;
  -webkit-flex: 1;
  padding: 0 10px;
  .blog-title {
    font-size: 18px;
    max-height: 70px;
    overflow: hidden;
    a {
      color: $base-color;
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      &:hover {
        color: $link-color;
      }
    }
  }

  .post-description  {
    font-size: 16px;
    margin: 10px 0 15px;
    color: rgba(0, 0, 0, 0.65);
    max-height: 65px;
    overflow: hidden;
  }

  .post-meta {
    background: url(../images/mitoc-medium.png) left center/36px 36px no-repeat;
    padding: 0 0 0 45px;
    font-size: 14px;
    line-height: normal;
    & > * {
      display: block;
      &.post-date {
        font-size: 13px;
        color: rgba(0, 0, 0, .44);
      }
    }
  }
}

.medium-btn {
  display: inline-block;
  border: 1px solid #1C9963;
  color: #1C9963;
  text-align: center;
  cursor: pointer;
  font: 13px FuturaICG, sans-serif;
  padding: 2px 16px;
  border-radius: 16px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  &:hover {
    background: #1C9963;
    color: #fff;
    border-color: transparent;
  }
}

.medium-content {
  border-bottom: 1px solid #F2F2F2;
  padding: 20px 0;
  .posts-info {
    padding: 0 20px 0 0;
  }
}

@keyframes play {
  60%, 80% {
    color: white;
  }
}

@-webkit-keyframes play {
  60%, 80% {
    color: white;
  }
}
