@media (min-width: 1300px) {
  .main-slide {
    margin: 88px 0 0;
    height: calc(100vh - 65px);
    section {
      width: 1150px;
    }

    .info-block {
      position: relative;
      left: 25px;
      p {
        width: 90%;
      }
    }
  }

  .logo {
    height: 88px;
    img {
      height: 40px;
    }
  }

  .main-nav {
    li {
      line-height: 88px;
      height: 88px;
    }
  }
}

@media (min-width: 1700px) {
  section {
    width: 1296px;
    .steps & {
      width: 1100px;
    }
  }

  .main-page {
    h1 {
      font: 75px/1 FuturaICG, sans-serif;
    }
  }

  p {
    font-size: 22px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 28px;
    .modal__content .modal-inner & {
      font-size: 22px;
    }
  }

  .footer-blocks {
    .social-links {
      li {
        margin: 0 10px;
        a {
          width: 72px;
          height: 72px;
          i {
            font-size: 40px;
            line-height: 72px;
          }
        }
      }
    }
  }

  .footer-logo {
    img {
      height: 104px;
    }
  }

  .steps {
    .checks {
      h3 {
        padding: 0 0 0 2.7rem;
        &:before {
          left: 10px;
          top: 35%;
          width: 1.3rem;
          height: .5rem;
          transform: rotate(-45deg) translateY(-35%);
          border-width: 3px;
        }

        &:after {
          width: 1.3rem;
          height: 1.3rem;
          border-width: 3px;
        }
      }
    }

    .flex-row {
      margin: 0 0 80px;
      justify-content: space-around;
      -webkit-justify-content: space-around;
    }
  }

  .solutions-block {
    width: 100%;
    height: 1200px;
    background: url(../images/devices.svg) center bottom 50px/900px auto no-repeat,
    url(../images/tree.svg) center bottom 550px/400px auto no-repeat,
    url(../images/wallpaper-prefooter.jpg) 0 bottom/auto 640px no-repeat;
    .solutions-cont {
      font-size: 22px;
      width: 1250px;
      .solutions-inner {
        &:first-child {
          padding: 0 0 0 50px;
        }
        
        li {
          padding: 0 0 0 20px;
          &:before {
            top: 12px;
          }
        }
      }
    }

    .first-block {
      li {
        &:before {
          width: 6px;
          height: 6px;
        }

        ul li {
          &:before {
            border-width: 4px;
          }
        }
      }
    }

    .second-block {
      li {
        &:before {
          width: 5px;
          height: 5px;
        }

        ul li {
          &:before {
            border-width: 4px;
          }
        }
      }
    }

    .third-block {
      margin-top: 15%;
      li {
        &:before {
          width: 6px;
          height: 6px;
        }
      }
    }

    .fourth-block {
      margin-right: 50px;
      margin-top: 25%;
      li {
        &:before {
          border-width: 0 6px 12px;
        }

        &:after {
          top: 18px;
          width: 4px;
          height: 4px;
        }
      }
    }
  }

  .btn {
    padding: 8px 24px;
  }

  .main-nav {
    li {
      &.custom-menu-link {
        a {
          padding-left: 24px;
          padding-right: 24px;
        }
      }
    }
  }

  .main-slide {
    background: url('../images/white-shape.png') 0 bottom/100% 300px no-repeat,
    url('../images/hero-blue.png') right bottom/auto 95% no-repeat,
    url('../images/hero-wallpaper.png') 0 bottom/cover no-repeat;
    height: calc(100vh - 50px);
    section {
      width: 1500px;
    }

    .flex-row {
      height: 450px;
    }

    .laptop {
      background-size: auto 450px;
      #laptop-anim,
      #laptop-actions {
        position: absolute;
        width: 646px;
        height: 383px;
        top: 21px;
        right: 112px;
      }

      #laptop-actions {
        right: 116px;
        width: 638px;
        .play {
          width: 58px;
          height: 58px;
          i {
            font-size: 1.8rem;
            line-height: 54px;
            margin-left: 10%;
          }
        }
      }
    }

    .info-block {
      position: relative;
      left: 100px;
      h2 {
        margin: 40px 0 25px;
      }
    }

    p {
      margin: 30px 0;
    }

    .scroll-down {
      width: 56px;
      height: 56px;
      bottom: 100px;
      i {
        font-size: 1.8rem;
        line-height: 56px;
      }
    }
  }

  .demo-footer {
    height: 250px;
    line-height: 150px;
  }

  .modal {
    .custom-input {
      padding-top: 28px;
      input {
        font-size: 22px;
        height: 40px;
      }

      label {
        line-height: 44px;
      }
    }
  }
}