@media (min-width: 1025px) and (max-width: 1200px) {
  .main-slide {
    .laptop {
      background-size: 550px auto;
      right: 0;
      #laptop-anim,
      #laptop-actions {
        position: absolute;
        width: 404px;
        height: 243px;
        right: 74px;
        top: 28px;
      }
    }

    .info-block {
      .btn {
        margin-right: 16px;
      }
    }
  }

  .btn {
    padding: 8px 16px;
  }

  .main-page {
    h1 {
      font-size: 45px;
    }
  }

  .demo-footer {
    background-size: 100% 200px;
  }

  .bottom-info {
    section {
      width: 85%;
      padding: 0;
    }
  }

  footer {
    section {
      width: 100%;
    }
  }

  .calculator-block {
    .info-blocks {
      margin-left: -8px;
      margin-right: -8px;
      font-size: 13px;
      .flex-item {
        margin: 8px;
        padding: 12px 8px;
      }

      img {
        width: 42px;
        height: 42px;
      }

      label {
        font-size: 32px;
      }
    }
  }
}

@media (min-width: 1025px) and (min-height: 800px) {
  .main-slide {
    background: url("../images/white-shape.png") 0 bottom/100% 200px no-repeat,
    url("../images/hero-blue.png") right bottom/auto 75% no-repeat,
    url("../images/hero-wallpaper.png") 0 bottom/cover no-repeat;
    .flex-row {
      align-items: center;
      -webkit-align-items: center;
    }

    .laptop {
      padding-bottom: 50%;
      background-size: contain;
      #laptop-anim,
      #laptop-actions {
        width: 73.7%;
        height: 51.6%;
        right: 13.4%;
        top: 22.6%;
      }

      #laptop-actions {
        .play {
          width: 58px;
          height: 58px;
          i {
            font-size: 1.8rem;
            line-height: 58px;
          }
        }
      }
    }

    section {
      width: 90%;
      padding: 0;
    }
  }

  section {
    width: 90%;
  }

  .body-main,
  .body-main p,
  .demo-confirm p {
    font-size: 18px;
  }

  .main-nav a {
    font-size: 16px;
  }

  .solutions-block {
    .solutions-inner {
      li {
        &:before {
          top: 10px;
        }

        &:after {
          top: 15px;
        }
        ul {
          li {
            &:before {
              top: 12px;
            }
          }
        }
      }
    }
  }

  .calculator-block {
    &.calculator-results {
      & > section {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        padding: 0;
      }
    }

    &.calculator-confirm {
      & > section {
        padding: 80px 0;
      }
    }
  }
}

@media (min-width: 1500px) and (min-height: 800px) {
  .main-page h1 {
    font: 60px/1.2 FuturaICG, sans-serif;
  }

  .body-main p,
  .demo-confirm p,
  .calculator-confirm p {
    font-size: 20px;
  }

  section,
  .main-slide section {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  .main-slide {
    .info-block {
      p {
        width: 95%;
      }
    }
  }

  .solutions-block {
    height: 900px;
    background: url("../images/devices.svg") center bottom 50px/600px auto no-repeat,
    url("../images/tree.svg") center bottom 400px/300px auto no-repeat,
    url("../images/wallpaper-prefooter.jpg") 0 bottom/auto 440px no-repeat;
  }

  .demo-footer {
    background: url('../images/gray-footer.png') 0 bottom/100% auto no-repeat;
    height: 200px;
    padding: 100px 0 0;
    line-height: 100px;
    text-align: center;
    .main-page ~ & {
      margin-top: -100px;
    }

    h3 {
      display: inline-block;
      vertical-align: top;
    }

    .btn {
      margin: 0 0 0 40px;
      vertical-align: middle;
    }
  }

  .demo-confirm,
  .calculator-block {
    & ~ .demo-footer {
      display: none;
    }
  }

  .calculator-block {
    p {
      font-size: 18px;
    }
  }

  header {
    section {
      & > .modal__trigger {
        display: none;
      }
    }
  }

  .medium-btn-block {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  .blog-post {
    justify-content: space-between;
    -webkit-justify-content: space-between;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
}

@media (min-width: 1300px) {
  .main-slide {
    margin: 88px 0 0;
    height: calc(100vh - 65px);

    .info-block {
      position: relative;
      p {
        width: 90%;
      }
    }
  }

  .logo {
    height: 88px;
    img {
      height: 40px;
    }
  }

  .main-nav {
    li {
      line-height: 88px;
      height: 88px;
    }
  }

  .demo-confirm,
  .calculator-block.calculator-result,
  .cb-container.not-found {
    margin: 88px 0 0;
    height: calc(100vh - 88px);
  }

  .calculator-block {
    margin: 88px 0 0;
    &.calculator-main {
      height: calc(100vh - 88px);
      & > section {
        padding: 0;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
      }
    }
  }
}

@media (min-width: 1700px) {
  section {
    width: 1296px;
    .steps & {
      width: 1100px;
    }
  }

  .main-page {
    h1 {
      font: 75px/1 FuturaICG, sans-serif;
    }
  }

  .main-slide {
    background: url('../images/white-shape.png') 0 bottom/100% 300px no-repeat,
    url('../images/hero-blue.png') right bottom/auto 95% no-repeat,
    url('../images/hero-wallpaper.png') 0 bottom/cover no-repeat;
    height: calc(100vh - 50px);
    section {
      width: 1500px;
    }

    .flex-row {
      height: 450px;
    }

    .laptop {
      background-size: auto 450px;
      padding-bottom: 0;
      height: 100%;
      #laptop-anim,
      #laptop-actions {
        position: absolute;
        width: 646px;
        height: 383px;
        top: 21px;
        right: 112px;
      }

      #laptop-actions {
        right: 116px;
        width: 638px;
        .play {
          width: 58px;
          height: 58px;
          i {
            font-size: 1.8rem;
            line-height: 58px;
          }
        }
      }
    }

    .info-block {
      position: relative;
      left: 100px;
      h2 {
        margin: 40px 0 25px;
      }
    }

    p {
      margin: 30px 0;
    }
  }

  .scroll-down {
    width: 56px;
    height: 56px;
    bottom: 63px;
    i {
      font-size: 1.8rem;
      line-height: 56px;
    }
  }

  .body-main,
  .demo-confirm,
  .calculator-block {
    p {
      font-size: 22px;
    }
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 28px;
    .modal__content .modal-inner &,
    .posts-info & {
      font-size: 22px;
    }
  }

  .blog-post .blog-title {
    font-size: 22px;
    max-height: 85px;
  }

  .footer-blocks {
    .social-links {
      li {
        margin: 0 10px;
        a {
          width: 72px;
          height: 72px;
          i {
            font-size: 40px;
            line-height: 72px;
          }
        }
      }
    }
  }

  .footer-logo {
    img {
      height: 104px;
    }
  }

  .steps {
    .checks {
      h3 {
        padding: 0 0 0 2.7rem;
        &:before {
          left: 10px;
          top: 35%;
          width: 1.3rem;
          height: .5rem;
          @include transform(rotate(-45deg) translateY(-35%));
          border-width: 3px;
        }

        &:after {
          width: 1.3rem;
          height: 1.3rem;
          border-width: 3px;
        }
      }
    }

    .flex-row {
      margin: 0 0 80px;
      justify-content: space-around;
      -webkit-justify-content: space-around;
    }
  }

  .solutions-block {
    width: 100%;
    height: 1200px;
    background: url(../images/devices.svg) center bottom 50px/900px auto no-repeat,
    url(../images/tree.svg) center bottom 550px/400px auto no-repeat,
    url(../images/wallpaper-prefooter.jpg) 0 bottom/auto 640px no-repeat;
    .solutions-cont {
      font-size: 22px;
      width: 1250px;
      .solutions-inner {
        &:first-child {
          padding: 0 0 0 50px;
        }
        
        li {
          padding: 0 0 0 20px;
          &:before {
            top: 12px;
          }
        }
      }
    }

    .first-block {
      li {
        &:before {
          width: 6px;
          height: 6px;
        }

        ul li {
          &:before {
            border-width: 4px;
          }
        }
      }
    }

    .second-block {
      li {
        &:before {
          width: 5px;
          height: 5px;
        }

        ul li {
          &:before {
            border-width: 4px;
          }
        }
      }
    }

    .third-block {
      margin-top: 15%;
      li {
        &:before {
          width: 6px;
          height: 6px;
        }
      }
    }

    .fourth-block {
      margin-right: 50px;
      margin-top: 25%;
      li {
        &:before {
          border-width: 0 6px 12px;
        }

        &:after {
          top: 18px;
          width: 4px;
          height: 4px;
        }
      }
    }
  }

  .btn {
    padding: 8px 24px;
  }

  .main-nav {
    li {
      &.custom-menu-link {
        a {
          padding-left: 24px;
          padding-right: 24px;
        }
      }
    }
  }

  .demo-footer {
    height: 250px;
    line-height: 150px;
  }

  .modal {
    .custom-input {
      padding-top: 28px;
      input {
        font-size: 22px;
        height: 40px;
      }

      label.text-field__label {
        line-height: 44px;
      }
    }
  }

  .calculator-block {
    h3 {
      font-size: 28px;
    }

    .info-blocks {
      font-size: 16px;
      .flex-item {
        padding: 24px 24px 12px;
      }

      label {
        font-size: 40px;
      }
    }

    &.calculator-results {
      .heading {
        margin-bottom: 80px;
      }
    }

    &.calculator-confirm {
      .blog-sections {
        h3 {
          margin: 80px 0 30px;
          font-size: 28px;
        }
      }
    }
  }

  .medium-btn {
    font-size: 16px;
    padding: 4px 20px;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .main-page {
    h1 {
      font-size: 45px;
      line-height: 1;
    }
  }

  .main-slide {
    background: url(../images/hero-blue.png) right bottom/auto 65% no-repeat,
    url(../images/hero-wallpaper.png) 0 bottom/cover no-repeat;
    .info-block {
      p {
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 10px;
      }
    }

    .laptop {
      margin: 20px 0 0;
    }
  }

  .solutions-block {
    background: url(../images/devices.svg) right -300px bottom/1000px auto no-repeat,
    url(../images/tree-sm.svg) right 150px bottom 600px/auto 900px no-repeat,
    url(../images/wallpaper-prefooter.jpg) 0 bottom/auto 400px no-repeat;
    padding: 100px 0 600px;
    .solutions-cont {
      padding: 0 0 0 80px;
    }
  }

  .demo-footer {
    .btn.secondary-btn {
      top: -400px;
      left: 80px;
    }
  }
}

@media (max-width: 1024px) {
  body.body-main,
  .demo-confirm p,
  .calculator-block p {
    font-size: 22px;
  }

  h3 {
    font-size: 24px;
  }

  header {
    & > section {
      display: flex;
      display: -webkit-flex;
    }

    nav {
      .navTrigger-label {
        width: 33px;
        height: 18px;
        position: relative;
        top: 50%;
        @include transform(translateY(-50%));
        cursor: pointer;
        display: block;
        span {
          height: 2px;
          display: block;
          position: absolute;
          width: 100%;
          background: $link-color;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          &:nth-child(1) {
            top: 0;
            width: 70%;
          }

          &:nth-child(2) {
            top: 8px;
          }

          &:nth-child(3) {
            top: 16px;
          }
        }
      }
    }
  }

  .logo-cont {
    float: none;
    order: 2;
    -webkit-order: 2;
  }

  .main-nav {
    height: 70px;
    float: none;
    order: 1;
    -webkit-order: 1;
    margin-right: 30px;
    ul {
      display: none;
      position: absolute;
      top: 100%;
      background: #fff;
      left: 0;
      width: 100%;
      overflow: auto;
      height: calc(100vh - 70px);
    }

    input#navTrigger:checked ~ ul {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      justify-content: center;
      -webkit-justify-content: center;
    }

    li {
      float: none;
      display: block;
      height: 60px;
      line-height: 60px;
      &.custom-menu-link {
        display: none;
      }

      a {
        margin: 0;
        font-size: 22px;
        @include transition(.3s);
        &.active,
        &:hover {
          color: #1b93f2;
        }
      }
    }
  }

  .main-slide {
    height: 100vh;
    .flex-row {
      height: 90%;
      position: static;
      @include transform(none);
      flex-direction: column;
      -webkit-flex-direction: column;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      & > * {
        text-align: center;
        flex: none;
        -webkit-flex: none;
        &.info-block {
          max-width: 80%;
          .modal__trigger {
            display: none;
          }

          .btn {
            margin-right: 0;
          }
        }

        &.laptop {
          right: 0;
          max-width: 100%;
          width: 100%;
          height: 0;
          padding-bottom: 25%;
          background-position: center;
          #laptop-anim,
          #laptop-actions {
            width: 35.3%;
            height: 85%;
            right: 32.5%;
            top: 5%;
          }
        }
      }
    }
  }

  .scroll-down {
    display: none;
    z-index: 1;
    i {
      @include transform(rotate(180deg));
    }
  }

  .steps {
    background: url("../images/white-shape-sm.png") 0 0/100% 200px no-repeat;
    margin-top: -170px;
    position: relative;
    padding: 170px 0 0;
    .flex-row {
      justify-content: space-around;
      -webkit-justify-content: space-around;
    }
  }

  .main-page {
    & ~ .demo-footer {
      margin: 0;
    }
  }

  .steps {
    section {
      width: 85%;
      padding: 0;
    }

    .step-block {
      img, div {
        height: 135px;
        width: 135px;
      }
    }

    .checks {
      h3 {
        padding: 0 0 0 2.7rem;
        &:before {
          left: 10px;
          top: 30%;
          width: 1.3rem;
          height: .5rem;
          @include transform(rotate(-45deg) translateY(-30%));
          border-width: 3px;
        }

        &:after {
          width: 1.3rem;
          height: 1.3rem;
          border-width: 3px;
        }
      }
    }
  }

  .solutions-block {
    margin-bottom: 50px;
    .solutions-cont {
      flex-direction: column;
      -webkit-flex-direction: column;
      width: 100%;
    }

    .solutions-inner {
      max-width: none;
      flex: none;
      -webkit-flex: none;
      & > * {
        float: none;
        margin: 0 0 30px;
      }

      li {
        padding: 0 0 0 20px;
        &:before {
          top: 12px;
        }
        ul {
          li:before {
            top: 15px;
          }
        }
      }
    }

    .third-block,
    .fourth-block {
      float: left;
    }
  }

  .demo-footer {
    position: relative;
    h3 {
      display: none;
    }

    .btn.secondary-btn {
      position: absolute;
      &.alpha-bg:not(:hover) {
        background: #fff;
      }
    }
  }

  footer {
    .footer-blocks {
      display: block;
      .footer-logo,
      .quick-links {
        display: none;
      }

      .social-links {
        flex: none;
        -webkit-flex: none;
        max-width: 100%;
        margin: 0;
        float: none;
        height: auto;
        ul {
          display: flex;
          display: -webkit-flex;
          justify-content: center;
          -webkit-justify-content: center;
          li {
            margin: 0 15px;
            a {
              width: 70px;
              height: 70px;
              i {
                font-size: 40px;
                line-height: 70px;
              }
            }
          }
        }
      }
    }
  }

  .bottom-info {
    line-height: normal;
    section {
      border-color: rgba(0, 0, 0, .5);
      width: calc(100% - 100px);
      margin: 0 50px;
      padding-top: 16px;
      padding-bottom: 16px;
      & > span {
        display: block;
        a {
          white-space: nowrap;
        }
      }
    }
  }

  .demo-confirm,
  .calculator-confirm {
    img {
      height: 135px;
    }
  }

  .calculator-block {
    &.calculator-confirm {
      .blog-sections {
        .post-title {
          line-height: 1.3;
        }
      }
    }

    .info-blocks {
      font-size: 12px;
      img {
        width: 36px;
        height: 36px;
      }

      label {
        font-size: 26px;
      }
    }
  }

  header {
    section {
      & > .modal__trigger {
        margin-left: auto;
        order: 3;
        -webkit-order: 3;
      }
    }
  }

  main {
    &:not(.main-page) {
      & ~ .demo-footer {
        display: none;
      }

      & ~ section {
        .medium-content {
          border-top: 1px solid #F2F2F2;
        }
      }
    }
  }

  .medium-content {
    &.flex-row {
      flex-direction: column;
      -webkit-flex-direction: column;
      & > * {
        flex: 1;
        -webkit-flex: 1;
        max-width: none;
      }
    }

    .posts-info {
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;
      margin: 0 0 30px;
      & > * {
        margin: 0 10px;
      }
    }
  }
}

@media (max-width: 1024px) and (min-height: 800px) {
  .main-slide {
    .flex-row {
      & > * {
        &.laptop {
          padding-bottom: 45%;
          #laptop-anim,
          #laptop-actions {
            width: 63.5%;
            height: 85%;
            right: 18.4%;
            top: 5%;
          }

          #laptop-actions {
            .play {
              width: 58px;
              height: 58px;
              i {
                font-size: 1.8rem;
                line-height: 58px;
              }
            }
          }
        }
      }
    }
  }

  .main-page h1 {
    font-size: 60px;
    line-height: 1.2;
  }
}

@media (max-width: 991px) {
  .solutions-block {
    background: url("../images/devices.svg") right -240px bottom/800px auto no-repeat,
    url("../images/tree-sm.svg") right 50px bottom 450px/auto 1000px no-repeat,
    url("../images/wallpaper-prefooter.jpg") 0 bottom/auto 350px no-repeat;
    height: auto;
    padding: 100px 0 500px;
    .solutions-cont {
      padding: 0 0 0 50px;
    }
  }

  .demo-footer {
    .btn.secondary-btn {
      top: -350px;
      left: 50px;
    }
  }

  .main-page h1 {
    font-size: 45px;
    line-height: 1;
  }

  .main-slide {
    background: url(../images/hero-blue.png) right bottom/auto 65% no-repeat,
    url(../images/hero-wallpaper.png) 0 bottom/cover no-repeat;
    .info-block p {
      font-size: 18px;
      line-height: 1.3;
      margin-bottom: 10px;
    }

    .laptop {
      margin: 20px 0 0;
    }
  }

  .calculator-block {
    &.default-bg {
      background-position: center bottom;
    }

    &.calculator-confirm {
      .blog-sections {
        & > .flex-row {
          & > * {
            flex: 0 0 50%;
            -webkit-flex: 0 0 50%;
            max-width: 50%;
          }
        }
      }
    }
  }

  .calculator-block {
    .info-blocks {
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      justify-content: center;
      -webkit-justify-content: center;
      .flex-item {
        flex: 0 0 25%;
        -webkit-flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }

  #mediumPosts {
    margin: 0 -5px;
  }

  .blog-post {
    padding: 0 5px;
  }
}

@media (max-width: 991px) and (min-height: 800px) {
  .main-page h1 {
    font-size: 60px;
    line-height: 1.2;
  }
}

@media (max-width: 767px) {
  .main-slide {
    height: calc(100vh - 70px);
    .flex-row {
      & > *.info-block {
        .modal__trigger {
          right: 20px;
        }
      }
    }
  }

  .scroll-down {
    z-index: 1;
  }

  .solutions-block {
    background: url("../images/devices.svg") center bottom/85% auto no-repeat,
    url("../images/wallpaper-prefooter.jpg") 0 bottom/auto 250px no-repeat;
    padding-top: 50px;
    padding-bottom: 350px;
    text-align: center;
    .solutions-cont {
      padding: 0;
      display: inline-block;
      width: auto;
      text-align: left;
    }
  }

  .demo-footer {
    padding: 0 0 30px;
    .btn.secondary-btn {
      position: static;
    }
  }

  footer {
    .footer-blocks {
      .social-links {
        ul {
          li {
            a {
              width: 55px;
              height: 55px;
              i {
                font-size: 28px;
                line-height: 55px;
              }
            }
          }
        }
      }
    }
  }

  .bottom-info {
    section {
      width: calc(100% - 40px);
      margin: 0 20px;
      padding: 16px 0;
    }
  }

  .calculator-block {
    &.calculator-main {
      h2 {
        margin-bottom: 20px;
      }
    }
  }
  
  .medium-content {
    border-top: 1px solid #F2F2F2;
  }

  #mediumPosts {
    margin: 0 -12px;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }

  .blog-post {
    flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    padding: 0 12px;
    max-width: 50%;
    &:not(:last-child) {
      margin: 0 0 36px;
    }
  }
}

@media (max-width: 767px) and (min-height: 800px) {
  .main-page h1 {
    font: 50px/1.2 FuturaICG, sans-serif;
  }

  .main-slide {
    .flex-row {
      & > *.laptop {
        padding-bottom: 50%;
        #laptop-anim,
        #laptop-actions {
          width: 70.8%;
          height: 85%;
          right: 14.8%;
          top: 4.6%;
        }
      }
    }
  }
}

@media (max-width: 767px) and (max-height: 799px) {
  .main-slide {
    .flex-row {
      & > *.laptop {
        padding-bottom: 30%;
        #laptop-anim,
        #laptop-actions {
          width: 42.4%;
          height: 85%;
          right: 28.8%;
          top: 5%;
        }
      }
    }
  }
}

@media (max-device-width: 767px) {
  .main-slide {
    background: url(../images/hero-blue.png) right bottom/90% auto no-repeat,
    url(../images/hero-wallpaper.png) 0 bottom/cover no-repeat;
    .flex-row {
      & > *.laptop {
        margin: 5% 0 0;
        padding-bottom: 50%;
        #laptop-anim,
        #laptop-actions {
          width: 70.8%;
          height: 85%;
          right: 14.8%;
          top: 4.6%;
        }
      }
    }
  }
}

@media (max-width: 680px) {
  footer {
    .footer-blocks {
      .social-links {
        ul {
          li {
            margin: 0 10px;
            a {
              width: 50px;
              height: 50px;
              i {
                font-size: 26px;
                line-height: 50px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .calculator-block {
    .info-blocks {
      justify-content: space-around;
      -webkit-justify-content: space-around;
      .flex-item {
        flex: 0 0 30%;
        -webkit-flex: 0 0 30%;
        max-width: 30%;
        margin: 10px 0;
        padding: 10px;
      }
    }
  }
}

@media (max-width: 560px) {
  body.body-main,
  .demo-confirm p,
  .calculator-block p {
    font-size: 18px;
  }

  h2 {
    font-size: 35px;
    .steps & {
      margin: 40px 0;
    }
  }

  h3 {
    font-size: 18px;
  }

  .steps {
    section {
      width: 100%;
      padding: 0 20px;
    }

    .flex-row {
      justify-content: space-between;
      -webkit-justify-content: space-between;
    }

    .step-block {
      img, div {
        height: 100px;
        width: 100px;
      }
    }
  }

  .solutions-block {
    background: url("../images/devices.svg") center bottom/85% auto no-repeat,
    url("../images/wallpaper-prefooter.jpg") 0 bottom/auto 200px no-repeat;
    padding-bottom: 250px;
    .solutions-inner {
      li {
        &:before {
          top: 7px;
        }

        ul {
          li {
            &:before {
              top: 8px;
            }
          }
        }
      }
    }
  }

  .steps {
    .checks {
      h3 {
        padding: 0 0 0 2rem;
        &:before {
          left: 7px;
          width: 1rem;
          height: .4rem;
          border-width: 2px;
        }

        &:after {
          width: 1rem;
          height: 1rem;
          border-width: 2px;
        }
      }
    }
  }

  footer {
    .footer-blocks {
      .social-links {
        ul {
          li {
            margin: 0 5px;
            a {
              width: 45px;
              height: 45px;
              i {
                font-size: 24px;
                line-height: 45px;
              }
            }
          }
        }
      }
    }
  }

  .demo-confirm,
  .calculator-confirm {
    img {
      height: 100px;
    }
  }

  .calculator-block {
    &.calculator-confirm {
      .blog-sections {
        & > .flex-row {
          & > * {
            flex: 0 0 100%;
            -webkit-flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 24px;
          }
        }
      }
    }
  }

  .medium-content {
    .posts-info {
      h3 {
        font-size: 22px;
      }
    }
  }

  #mediumPosts {
    margin: 0;
    flex-direction: column;
    -webkit-flex-direction: column;
  }

  .blog-post {
    flex: 1;
    -webkit-flex: 1;
    padding: 0;
    max-width: none;
  }
}

@media (max-width: 560px) and (min-height: 800px) {
  .main-page {
    h1 {
      font-size: 40px;
    }
  }
}

@media (max-width: 560px) and (max-height: 799px) {
  .main-slide {
    .flex-row {
      & > *.info-block {
        max-width: 100%;
        p {
          font-size: 16px;
          line-height: 1.3;
          margin-bottom: 10px;
        }
      }

      & > *.laptop {
        padding-bottom: 45%;
        #laptop-anim,
        #laptop-actions {
          width: 64%;
          height: 85%;
          right: 18%;
          top: 5%;
        }
      }
    }
  }

  .main-page {
    h1 {
      font-size: 35px;
      line-height: 1;
    }
  }
}

@media (max-device-width: 560px) {
  .main-slide {
    .flex-row {
      & > *.laptop {
        margin: 5% 0 0;
        padding-bottom: 50%;
        #laptop-anim,
        #laptop-actions {
          width: 70.8%;
          height: 85%;
          right: 14.8%;
          top: 4.6%;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .calculator-block {
    .info-blocks {
      .flex-item {
        flex: 0 0 45%;
        -webkit-flex: 0 0 45%;
        max-width: 45%;
      }
    }
  }
}

@media (max-width: 400px) {
  .solutions-block {
    padding-bottom: 200px;
  }

  .steps {
    .step-block {
      img, div {
        height: 90px;
        width: 90px;
      }
    }
  }

  .modal__content {
    .modal-inner {
      h3 {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }

  h3 {
    font-size: 16px;
  }

  footer {
    .footer-blocks {
      .social-links {
        ul {
          justify-content: space-between;
          -webkit-justify-content: space-between;
          &:after, &:before {
            display: none;
          }
          li {
            margin: 0;
            float: none;
            a {
              width: 40px;
              height: 40px;
              i {
                font-size: 22px;
                line-height: 40px;
              }
            }
          }
        }
      }
    }
  }

  .calculator-form {
    width: 100%;
    margin: 0;
  }

  .medium-content {
    .posts-info {
      flex-direction: column;
      -webkit-flex-direction: column;
      & > * {
        margin: 10px;
      }
    }
  }
}

@media (max-width: 360px) {
  body.body-main,
  .demo-confirm p,
  .calculator-block p {
    font-size: 16px;
  }

  .main-nav {
    margin-right: 10px;
  }

  .main-slide {
    .flex-row {
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      padding: 15px 0 0;
      & > *.info-block {
        p {
          font-size: 14px;
          margin-top: 10px
        }

        .btn:not(.modal__trigger) {
          margin: 5px 0;
        }

        .modal__trigger {
          top: 16px;
        }
      }
    }
  }

  .main-page h1 {
    font-size: 30px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 16px;
  }


  .steps {
    .step-block {
      img, div {
        height: 80px;
        width: 80px;
      }

      h3 {
        font-size: 14px;
      }
    }
  }

  .solutions-block {
    background: url("../images/devices.svg") center bottom/85% auto no-repeat,
    url("../images/wallpaper-prefooter.jpg") 0 bottom/auto 150px no-repeat;
    padding-bottom: 150px;
    margin-bottom: 30px;
  }

  .demo-footer {
    padding: 0;
  }

  .bottom-info {
    section {
      padding: 10px 0;
      & > span {
        display: inline;
      }
    }
  }

  footer {
    .footer-blocks {
      padding: 22px 0 16px;
      .social-links {
        ul {
          li {
            a {
              width: 35px;
              height: 35px;
              i {
                font-size: 20px;
                line-height: 35px;
              }
            }
          }
        }
      }
    }
  }

  .calculator-block {
    .info-blocks {
      .flex-item {
        flex: 0 0 55%;
        -webkit-flex: 0 0 55%;
        max-width: 55%;
      }
    }
  }
}

@media (min-height: 500px) {
  .modal__content {
    max-height: 95vh;
    overflow: auto;
  }
}

@media (max-height: 459px) {
  .main-slide {
    height: auto;
    padding-top: 50px;
    .flex-row {
      padding-bottom: 15%;
    }
  }

  .main-nav {
    input#navTrigger:checked ~ ul {
      justify-content: space-around;
      -webkit-justify-content: space-around;
      &:before, &:after {
        display: none;
      }
    }

    li {
      height: auto;
      line-height: normal;
    }
  }

  .modal__content {
    width: 100vw;
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    & > * {
      flex: 1;
      -webkit-flex: 1;
    }

    .close-btn {
      height: 20px;
      width: 20px;
      top: 10px;
      right: 10px;
    }
  }

  .demo-confirm {
    height: auto;
    padding: 50px 0;
  }
}

@media (max-height: 350px) {
  .modal__content {
    img {
      max-width: 40%;
    }

    .modal-inner {
      padding: 1.5rem;
      flex: 2;
      -webkit-flex: 2;
    }
  }
}