@media (min-width: 1025px) and (max-width: 1200px) {
  h1 {
    font-size: 45px;
  }

  .btn {
    padding: 8px 16px;
  }

  .demo-footer {
    background-size: 100% 200px;
  }

  .bottom-info {
    section {
      width: 85%;
      padding: 0;
    }
  }

  footer {
    section {
      width: 100%;
    }
  }
}

@media (min-width: 1025px) and (min-height: 800px) {
  section {
    width: 90%;
  }

  .main-nav a {
    font-size: 16px;
  }
}

@media (min-width: 1500px) and (min-height: 800px) {
  section {
    width: 80%;
  }

  h1 {
    font: 60px/1.2 FuturaICG, sans-serif;
  }
}

@media (min-width: 1025px) {
  .demo-footer {
    background: url('../images/gray-footer.png') 0 bottom/100% auto no-repeat;
    height: 200px;
    padding: 100px 0 0;
    line-height: 100px;
    text-align: center;
    .main-page ~ & {
      margin-top: -100px;
    }

    h3 {
      display: inline-block;
      vertical-align: top;
    }

    .btn {
      margin: 0 0 0 40px;
      vertical-align: middle;
    }
  }

  header {
    section {
      & > .modal__trigger {
        display: none;
      }
    }
  }
}

@media (min-width: 1300px) {
  .logo {
    height: 88px;
    img {
      height: 40px;
    }
  }

  .main-nav {
    li {
      line-height: 88px;
      height: 88px;
    }
  }

  .cb-container {
    margin-top: 88px;
  }

  .full-height {
    margin-top: 88px;
    height: calc(100vh - 88px);
  }
}

@media (min-width: 1700px) {
  section {
    width: 1296px;
  }

  h1 {
    font: 75px/1 FuturaICG, sans-serif;
  }

  h3 {
    font-size: 28px;
  }

  .footer-blocks {
    .social-links {
      li {
        margin: 0 10px;
        a {
          width: 72px;
          height: 72px;
          i {
            font-size: 40px;
            line-height: 72px;
          }
        }
      }
    }
  }

  .footer-logo {
    img {
      height: 104px;
    }
  }

  .btn {
    padding: 8px 24px;
  }

  .main-nav {
    li {
      &.custom-menu-link {
        a {
          padding-left: 24px;
          padding-right: 24px;
        }
      }
    }
  }

  .demo-footer {
    height: 250px;
    line-height: 150px;
  }
}

@media (max-width: 1170px) {
  section,
  header section,
  .custom-headline-block section {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1025px) {
  header nav .navTrigger-label {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  h1 {
    font-size: 45px;
    line-height: 1;
  }
}

@media (max-width: 1024px) {
  main {
    &:not(.main-page) {
      & ~ .demo-footer {
        display: none;
      }

      & ~ section {
        .medium-content {
          border-top: 1px solid #F2F2F2;
        }
      }
    }
  }

  header {
    & > section {
      display: flex;
      display: -webkit-flex;
      & > .modal__trigger {
        margin-left: auto;
        order: 3;
        -webkit-order: 3;
      }
    }

    nav {
      .navTrigger-label {
        width: 33px;
        height: 18px;
        position: relative;
        top: 50%;
        @include transform(translateY(-50%));
        cursor: pointer;
        display: block;
        span {
          height: 2px;
          display: block;
          position: absolute;
          width: 100%;
          background: $link-color;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          &:nth-child(1) {
            top: 0;
            width: 70%;
          }

          &:nth-child(2) {
            top: 8px;
          }

          &:nth-child(3) {
            top: 16px;
          }
        }
      }
    }
  }

  .logo-cont {
    float: none;
    order: 2;
    -webkit-order: 2;
  }

  .main-nav {
    height: 70px;
    float: none;
    order: 1;
    -webkit-order: 1;
    margin-right: 30px;
    ul {
      display: none;
      position: absolute;
      top: 100%;
      background: #fff;
      left: 0;
      width: 100%;
      overflow: auto;
      height: calc(100vh - 70px);
    }

    input#navTrigger:checked ~ ul {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      justify-content: center;
      -webkit-justify-content: center;
    }

    li {
      float: none;
      display: block;
      height: 60px;
      line-height: 60px;
      &.custom-menu-link {
        display: none;
      }

      a {
        margin: 0;
        font-size: 22px;
        @include transition(.3s);
        &.active,
        &:hover {
          color: #1b93f2;
        }
      }
    }
  }

  footer {
    .footer-blocks {
      display: block;
      .footer-logo,
      .quick-links {
        display: none;
      }

      .social-links {
        flex: none;
        -webkit-flex: none;
        max-width: 100%;
        margin: 0;
        float: none;
        height: auto;
        ul {
          display: flex;
          display: -webkit-flex;
          justify-content: center;
          -webkit-justify-content: center;
          li {
            margin: 0 15px;
            a {
              width: 70px;
              height: 70px;
              i {
                font-size: 40px;
                line-height: 70px;
              }
            }
          }
        }
      }
    }
  }

  .bottom-info {
    line-height: normal;
    section {
      border-color: rgba(0, 0, 0, .5);
      width: calc(100% - 100px);
      margin: 0 50px;
      padding-top: 16px;
      padding-bottom: 16px;
      & > span {
        display: block;
        a {
          white-space: nowrap;
        }
      }
    }
  }
}

@media (max-width: 1024px) and (min-height: 800px) {
  h1 {
    font-size: 60px;
    line-height: 1.2;
  }
}

@media (max-width: 991px) {
  .cb-container {
    min-height: calc(100vh - 255px);
  }

  h1 {
    font-size: 45px;
    &.custom-headline {
      height: 80px;
      line-height: 80px;
      font-size: 34px;
    }
  }
}

@media (max-width: 991px) and (min-height: 800px) {
  h1 {
    font-size: 60px;
    line-height: 1.2;
  }
}

@media (max-width: 767px) {
  body {
    line-height: 1.3;
    -webkit-text-size-adjust: none;
  }

  section,
  header section {
    padding: 0 20px;
  }

  .custom-headline-block {
    section {
      padding: 20px;
    }
  }

  .cb-container {
    min-height: calc(100vh - 235px);
    & > section {
      padding-bottom: 20px;
    }
  }

  #home {
    margin: 0 0 20px;
  }

  .legal-pages {
    padding: 15px 0;
    h1 {
      font-size: 24px;
    }
    .text-block {
      h4 {
        font-size: 16px;
      }
    }
  }

  footer {
    .footer-blocks {
      .social-links {
        ul {
          li {
            a {
              width: 55px;
              height: 55px;
              i {
                font-size: 28px;
                line-height: 55px;
              }
            }
          }
        }
      }
    }
  }

  .bottom-info {
    font-size: 12px;
    section {
      width: calc(100% - 40px);
      margin: 0 20px;
      padding: 16px 0;
    }

    & > span {
      display: block;
      a {
        white-space: nowrap;
      }
    }
  }
}

@media (max-width: 767px) and (min-height: 800px) {
  h1 {
    font: 50px/1.2 FuturaICG, sans-serif;
  }
}

@media (max-width: 680px) {
  footer {
    .footer-blocks {
      .social-links {
        ul {
          li {
            margin: 0 10px;
            a {
              width: 50px;
              height: 50px;
              i {
                font-size: 26px;
                line-height: 50px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .custom-headline-block {
    section {
      padding-top: 10px;
      h2 {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 560px) {
  footer {
    .footer-blocks {
      .social-links {
        ul {
          li {
            margin: 0 5px;
            a {
              width: 45px;
              height: 45px;
              i {
                font-size: 24px;
                line-height: 45px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 560px) and (min-height: 800px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 560px) and (max-height: 799px) {
  h1 {
    font-size: 35px;
    line-height: 1;
  }
}

@media (max-width: 400px) {
  .logo {
    img {
      height: 35px;
    }
  }

  header {
    nav {
      .navTrigger-label {
        width: 30px;
        height: 20px;
        span {
          &:nth-child(2) {
            top: 8px;
          }

          &:nth-child(3) {
            top: 16px;
          }
        }
      }

      input#navTrigger {
        &:checked + .navTrigger-label {
          span {
            &:nth-child(3) {
              top: 19px;
            }
          }
        }
      }
    }
  }

  .cb-container {
    min-height: calc(100vh - 250px);
  }

  footer {
    .footer-blocks {
      .social-links {
        ul {
          justify-content: space-between;
          -webkit-justify-content: space-between;
          &:after, &:before {
            display: none;
          }
          li {
            margin: 0;
            float: none;
            a {
              width: 40px;
              height: 40px;
              i {
                font-size: 22px;
                line-height: 40px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 30px;
  }

  .main-nav {
    margin-right: 10px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 16px;
  }

  .bottom-info {
    section {
      padding: 10px 0;
      & > span {
        display: inline;
      }
    }
  }

  footer {
    .footer-blocks {
      padding: 22px 0 16px;
      .social-links {
        ul {
          li {
            a {
              width: 35px;
              height: 35px;
              i {
                font-size: 20px;
                line-height: 35px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-height: 459px) {
  .main-nav {
    input#navTrigger:checked ~ ul {
      justify-content: space-around;
      -webkit-justify-content: space-around;
      &:before, &:after {
        display: none;
      }
    }

    li {
      height: auto;
      line-height: normal;
    }
  }
}
