@font-face {
  font-family: Futura-Light;
  src: url(../fonts/Futura-Light.ttf);
}

@font-face {
  font-family: FuturaICG;
  src: url(../fonts/FuturaICG.ttf);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: #1b93f2;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}