@mixin custom-headline($img){
  background: $img center center/100% auto no-repeat;
  color: #fff;
}

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin box-shadow($box-shadow) {
  box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin transform-origin($value) {
  -webkit-transform-origin: $value;
  -moz-transform-origin: $value;
  -o-transform-origin: $value;
  transform-origin: $value;
}

@mixin text-gradient($value) {
  background: $value;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin flex-container {
  display: flex;
  display: -webkit-flex;
}

@mixin flex-width($value, $value2) {
  flex: $value;
  -webkit-flex: $value;
  max-width: $value2;
}

@mixin flex-align-self($value) {
  align-self: $value;
  -webkit-align-self: $value;
}

@mixin grayscale($value) {
  filter: grayscale($value);
  -webkit-filter: grayscale($value);
}