@media (min-width: 1700px) {
  .fake-news {
    background-size: auto 550px;
  }
}

@media (min-width: 1300px) {
  .bars {
    @include flex-align-self(stretch);
  }

  .devices {
    width: 85%;
  }

  .people {
    img {
      max-width: 85%;
    }
  }

  p {
    font-size: 22px;
  }

  .emphasize {
    font-size: 28px;
  }

  .quote-author {
    font-size: 18px;
  }
}

@media (max-width: 1299px) {
  .people,
  .devices {
    img {
      max-width: 70%;
    }
  }

  .bars {
    width: 85%;
  }
}

@media (max-width: 991px) {
  .main-slide {
    &.full-height {
      height: auto;
    }

    section > .flex-row {
      @include flex-direction(column);
      & > * {
        @include flex-width(1, 100%);
        &:first-child, &:last-child {
          padding: 0;
        }

        .flex-column {
          padding: 50px 0 20px;
          & > * {
            width: 100%;
            &:not(:last-child) {
              padding-bottom: 30px;
            }
          }
        }
      }
    }
  }

  p {
    font-size: 18px;
  }

  .challenge-block {
    &.clickbait {
      .flex-row {
        @include flex-align-items(flex-start);
      }
    }

    img {
      height: 235px;
    }

    .flex-row {
      & > * {
        &:first-child {
          padding-right: 25px;
        }

        &:last-child {
          padding-left: 25px;
        }
      }
    }
  }

  .fake-news {
    background-size: 100% auto;
  }
}

@media (max-width: 560px) {
  h2 {
    font-size: 30px;
    line-height: 1;
  }

  p {
    font-size: 16px;
  }

  h1 {
    margin-bottom: 30px;
  }

  .challenge-block {
    padding: 0;

    .flex-row {
      @include flex-align-items(flex-start);
      position: relative;
      & > * {
        @include flex-width(1, 100%);
        &:first-child,
        &:last-child {
          padding: 0;
          &.info-block {
            padding: 50px 0;
          }
        }
      }
    }

    .image-block {
      position: absolute;
      width: 50%;
      height: 80%;
      opacity: .1;
      top: 0;
      right: 0;
    }

    img {
      height: auto;
      max-height: 100%;
      margin: 0 auto;
    }
  }

  .info-more {
    .btn {
      margin: 0;
    }
  }
}
