.dev-docs {
  text-align: left;
  margin: 70px 0 0;
  section {
    padding-top: 40px;
    padding-bottom: 50px;
    &.home-blocks {
      padding-top: 50px;
    }
  }

  h1 {
    font: 30px Futura-Light, sans-serif;
    color: #595959;
    text-transform: uppercase;
    margin-bottom: 40px;
    background: transparent;
    -webkit-text-fill-color: inherit;
    &:after {
      display: none;
    }
  }

  .back-link {
    vertical-align: top;
    margin-top: -3px;
    display: inline-block;
    padding-left: 14px;
    padding-right: 14px;
    line-height: 36px;
    height: 36px;
    width: 36px;
    font-size: 1.0625rem;
    border-radius: 50%;
    color: inherit;
    background: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
    transition: box-shadow .4s ease-in-out;
    z-index: 1;
    &:hover {
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084);
    }
  }
}

.main-pic {
  background: url('../images/api/banner.jpg') 0 0/cover no-repeat;
  height: 400px;
}

.home-blocks {
  img {
    margin: 0 0 15px;
  }
}
