.main-slide {
  section {
    height: 100%;
    & > .flex-row {
      height: calc(100% - 60px);
      & > *:first-child {
        padding-right: 50px;
      }

      & > *:last-child {
        padding-left: 50px;
      }
    }
  }

  .flex-row {
    @include flex-align-items(center);
    text-align: left;
    &.flex-column {
      @include flex-justify-content(space-around);
      @include flex-align-items(flex-start);
      height: 100%;
      padding: 30px 0 0;
    }

    .info-block {
      @include flex-align-self(stretch);
      img {
        margin-bottom: 5px;
      }
    }

    .bars {
      p {
        margin-bottom: -50px;
        width: 50%;
      }
    }
  }
}

.emphasize {
  font-size: 24px;
}

h2 {
  margin-bottom: 10px;
}

.info-more {
  padding-top: 15px;
}

.fake-news {
  background: url(../images/wallpaper-prefooter.jpg) 0 bottom/auto 440px no-repeat;
}

.quote-author {
  font-size: .9rem;
  color: rgba(0, 0, 0, .56);
  display: inline-block;
  margin-top: 10px
}

.challenge-block {
  padding: 50px 0;
  &.clickbait {
    padding-top: 0;
    .info-block {
      padding-top: 50px;
    }
  }
  text-align: left;
  .flex-row {
    @include flex-align-items(center);
    & > *:first-child {
      padding-right: 50px;
    }

    & > *:last-child {
      padding-left: 50px;
    }
  }

  img {
    height: 435px;
  }

  .image-block {
    @include flex-justify-content(center);
  }
}
