#team {
  padding-bottom: 20px;
  .custom-headline-block {
    @include custom-headline(url('../images/team.jpg'));
  }
}

.team-block {
  @include flex-container;
  padding: 50px 0 0;
  .team-member {
    @include flex-width(0 0 25%, 25%);
    font-family: FuturaICG, sans-serif;
    color: #595959;
  }

  .member-pic {
    width: 185px;
    height: 185px;
    margin: 0 auto 25px;
    @include grayscale(90%);
    &:hover {
      @include grayscale(0%);
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }

  .member-name {
    font-size: 22px;
    color: $link-color;

  }

  .member-position {
    font-size: 13px;
    font-style: italic;
  }

  .member-social {
    position: relative;
    margin: 15px 0 0;
    &:before {
      content: '';
      height: 1px;
      width: 50%;
      background: #aeaeae;
      position: absolute;
      top: 0;
      left: 50%;
      @include transform(translateX(-50%));
    }

    li {
      display: inline-block;
      a {
        color: #595959;
        @include transition(.2s linear);
        &:hover {
          color: $link-color;
        }
      }

      .fa {
        font-size: 20px;
        margin: 15px 10px 0;
      }
    }
  }
}