.demo-confirm {
  margin: 70px 0 0;
  height: calc(100vh - 70px);
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  img {
    height: 152px;
    margin: 0 auto 20px;
  }
}