@media (max-width: 991px) {
  #contact {
    .contact-inner {
      height: 460px;
    }

    .contact-form {
      padding: 20px 30px 0;
    }

    .custom-input {
      padding-bottom: 0;
    }

    .btn {
      margin: 15px 0;
    }

    .captcha-block {
      padding: 10px 0 0;
    }
  }
}

@media (max-width: 767px) {
  #contact {
    .contact-inner {
      margin: 30px 0 0;
    }
  }
}

@media (max-width: 640px) {
  #contact {
    .contact-inner {
      height: auto;
    }

    #googleMap {
      height: 300px;
    }

    .contact-form {
      position: static;
      background: transparent;
      padding: 30px 0 0;
      width: 100%;
      .company-info {
        text-align: center;
      }
    }

    .captcha-block {
      img {
        margin: 0 auto;
        max-width: 300px;
      }
    }
  }
}

@media (max-width: 400px) {
  #contact {
    #googleMap {
      height: 250px;
    }
  }
}

@media (max-width: 360px) {
  #contact {
    .captcha-block {
      img {
        margin: 0 auto;
        max-width: 100%;
      }
    }
  }
}